.forecast-box {
    margin-top: 20px;

    .title {
        color: white;
    }
    img {
        width: 50px;
    }

    .accordion {
        margin-top: 15px;

        .accordion__button {
            background-color: rgb(51 51 51);
            border: 1px solid #494949;
            border-radius: 10px;
            margin-bottom: 10px;
            position: relative;
            color: white;

            .icon {
                .icon1 {
                    opacity: 1;
                    transition: 0.5s all ease;
                }
                .icon2 {
                    opacity: 0;
                    transition: 0.5s all ease;
                }
            }
        }
    }
}

[aria-expanded="true"] {
    .icon {
        .icon1 {
            opacity: 0 !important;
        }
        .icon2 {
            opacity: 1 !important;
        }
    }
}

@media screen and (max-width: 575px) {
    .forecast-box {
        .accordion {
            .accordion__item {
                position: relative;
            }

            .accordion__button {
                margin-bottom: 20px;
            }
        }
    }
}
